.covering-container {
  color: #7da1b3;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 200px;
  min-height: 140px;
  background-color: rgba(43, 44, 47, 0.8);
  box-shadow: 0 0 8px 0 rgba(43, 44, 47, 0.9) inset;
}

.covering-btn {
  position: absolute;
  color: red;
  height: 12px;
  width: 5px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.covering-title {
  font-weight: bold;
  min-width: 100px;
  min-height: 20px;
  text-align: center;
  padding: 5px;
  user-select: none;
  pointer-events: none;
}

.covering-content {
  padding: 5px;
  user-select: none;
  pointer-events: none;
}