.context-menu {
  position: absolute;
  background-color: transparent;
  opacity: 1;
  transform: scale(0);
  transition: all 0.25s ease-out;

  .context-menu-ul {
    text-align: center;
    background-color: rgba(43, 44, 47, .8);
    min-width: 110px;
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: 1px;

    a {
      padding: 6px 16px 6px 10px;
      transition: background-color 0.25s;
      display: inline-block;
      clear: both;
      font-weight: 400;
      line-height: 1.6;
      white-space: nowrap;
      color: #7da1b3;
      text-decoration: none;
      font-size: 14px;
    }

    a:hover {
      text-decoration: none;
    }

    li.li-item {
      cursor: pointer;
      position: relative;

      &:hover {
        background: #444d59;

        >a {
          color: #fff;
        }

        >ul {
          display: block;
        }
      }

      &:has(ul)::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 40%;
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        border-left-color: #7da1b3;
        border-right-width: 0;
      }

      &:has(ul)::before {
        content: '';
        position: absolute;
        right: -2px;
        top: 0;
        background-color: transparent;
        width: 5px;
        height: 35px;
      }

      img {
        margin-left: 5px;
        margin-right: -8px;
        display: inline-block;
      }

      span {
        display: flex;
        width: 16px;
        height: 34px;
        position: absolute;
        right: 0;
        top: 0;
        align-items: center;

        .icon {
          position: absolute;
          right: 5px;
        }
      }

      >ul {
        display: none;
        position: absolute;
      }

      >ul.left {
        left: calc(-100% - 3px);
      }

      >ul.right {
        left: calc(100% + 1px);
      }

      >ul.top {
        top: 0;
      }

      >ul.bottom {
        bottom: -1px
      }
    }

    li.li-item.separator {
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }

    li.li-item.separator:last-child {
      border-bottom: none;
    }
  }
}

.context-menu.show {
  opacity: 1;
  transform: scale(1);
}