# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Release Version

on:
  push:
    branches: [ release ]

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4
        with:
          version: 10.26.2

      - uses: actions/setup-node@v4
        with:
          node-version: 24.12.0
          registry-url: https://registry.npmjs.org

      - name: Changset
        run: pnpm ci:version

      - name: Publish packages
        run: pnpm ci:publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Commit version bump
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --cached --quiet || git commit -m "chore(packages): release version bump"
          git push origin release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}